/* src/components/AdminNavbar.css */

.navbar {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 30px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5a67d8; 
}

.navbar .nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  margin: 0 2rem;
}

.navbar .nav-links .nav-link {
  color: #4a5568; 
  transition: color 0.3s;
  flex: 1;
  text-align: center;
    text-decoration: none;
}

.navbar .nav-links .nav-link.active {
  color: #5a67d8; 
}

.navbar .nav-links .nav-link:hover {
  color: #5a67d8; 
}

.navbar .profile-icon {
  font-size: 2rem;
  color: #4a5568;
}

.logout-icon button {
  background: none;
  border: none;
  cursor: pointer;
}

.logout-icon button:hover {
  opacity: 0.8;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown {
  position: relative;
}

.profile-dropdown button {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  /* border-radius: 50%; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 45px;
}

.profile-dropdown button:hover {
  background-color: #f3f4f6; 
 height: 20px;
}

.profile-dropdown .absolute {
  position: absolute;
  top: 100%;
  right: 0;
  width: 220px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  margin-top: 0.5rem;
}

.profile-dropdown .absolute .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-dropdown .absolute .py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.profile-dropdown .absolute .border-b {
  border-bottom: 1px solid #f3f4f6;
}

.profile-dropdown .absolute button {
  padding: 0.75rem 1rem;
}

.profile-dropdown .absolute a {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 0.875rem;
  color: #555;
  text-decoration: none;
}

.profile-dropdown .absolute a:hover {
  background-color: #f3f4f6;
  color: #4f46e5; /* Tailwind Indigo */
}

.profile-dropdown .absolute button.logout {
  color: #e11d48; /* Tailwind Red */
  background-color: transparent;
}

.profile-dropdown .absolute button.logout:hover {
  background-color: #fef2f2;
  color: #f87171; /* Tailwind Red */
}

.profile-dropdown .py-1 .flex.items-center:hover {
  background-color: #f3f4f6;
  color: #4f46e5; 
}

.profile-dropdown .border-t button:hover {
  background-color: #f3f4f6; 
  color: #6b21a8; 
  height: auto;
  border-radius-bottom: 0.5rem;
}

.profile-dropdown .border-t button {
  width: 100%; /* Make sure it spans the full width of the dropdown */
  display: block; 
}

